body {
  margin: 1.5em;
  font-family: 'poppins', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/Shoe1.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-position-x: 20%;
  background-position-y: 20%;
  -webkit-animation: introLoad 2s forwards;
          animation: introLoad 2s forwards;
}

.logo {
  width: 10em;
  color: white;
  font-weight: bold;
}

.logo span {
  color: #adff94;
}

.menu {
  fill: white;
  width: 2.6em;
  cursor: pointer;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 50%;
  background: white;
  text-transform: uppercase;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  translate: transform 1s ease-in-out;
}

nav ul {
  padding: 0;
  margin-top: 8em;
  list-style-type: none;
}

nav ul a {
  display: block;
  padding: .75em 2em;
  color: black;
}

nav ul a:hover {
  background: #e2e2e2;
}

nav .close {
  margin: 2em;
  width: 2.5em;
  float: right;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.hero {
  color: white;
  height: 90vh;
  -webkit-animation: moveDown 1.5s ease-in-out forwards;
          animation: moveDown 1.5s ease-in-out forwards;
  opacity: 0;
}

section.hero h1 {
  font-size: 2.7rem;
  margin-top: 1.5em;
  line-height: 3.3rem;
}

section.hero .subhead {
  font-size: 1.3rem;
}

section.hero .dwon-arrow {
  position: absolute;
  bottom: 8em;
  height: 6em;
  animation: moveArrow 0.5s alternate-reverse infinite;
}

section.hero .dwon-arrow path {
  fill: white;
}

.more-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 13em;
}

.more-info .title {
  font-weight: bold;
  font-size: 1.25rem;
}

.more-info .desc {
  line-height: 1.5rem;
}

.open-nav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@media only screen and (min-width: 500px) {
  body {
    margin: 1.25em 3.5em;
  }
}

@media only screen and (min-width: 600px) {
  section.hero {
    margin-right: 7em;
  }
}

@media only screen and (min-width: 750px) {
  .menu {
    display: none;
  }
  body {
    margin: 1.25em 3.5em;
  }
  nav {
    position: unset;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    height: auto;
    width: auto;
    background: none;
    display: block;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  nav ul a {
    color: white;
    padding: .5em 2em;
    font-size: 1rem;
  }
  nav ul a:hover {
    background: none;
    text-decoration: underline;
  }
  .close {
    display: none;
  }
  .hero-img {
    left: unset;
    right: 0;
    width: 50%;
    height: 28em;
    overflow: hidden;
  }
  .logo {
    color: black;
  }
  .logo span {
    color: red;
  }
  section.hero {
    color: black;
    height: auto;
    width: 45%;
    margin-top: -1.3em;
    margin-bottom: 8em;
  }
  section.hero h1 {
    font-size: 2.4rem;
    margin-top: 1.4em;
    line-height: 3.0rem;
  }
  section.hero .subhead {
    font-size: 1.2rem;
  }
  section.hero .dwon-arrow {
    margin-top: 3em;
    position: unset;
  }
  section.hero .dwon-arrow path {
    fill: black;
  }
  .more-info {
    margin-left: 10%;
    margin-right: 10%;
  }
  .feature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin-bottom: 8em;
  }
  .feature img {
    width: 20em;
  }
  .feature .content {
    text-align: right;
    width: 20em;
  }
  .feature.left {
        grid-template-areas: "left right";
  }
  .feature.left img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: left;
  }
  .feature.left .content {
    text-align: left;
    width: 20em;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

@media only screen and (min-width: 1150px) {
  .wrapper {
    width: 1150px;
    margin: 0 auto;
  }
  .feature {
    gap: 0;
  }
  section.hero {
    margin-top: 4em;
  }
  section.hero h1 {
    font-size: 2.7rem;
    margin-top: 1.5em;
    line-height: 3.3rem;
  }
  section.hero .subhead {
    font-size: 1.3rem;
  }
}

@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes moveArrow {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes moveArrow {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@-webkit-keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveDown {
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */